.modal
  background: rgba(255,255,255,0.9)
  &-dialog
    border-radius: 0px
    width: 80%
    margin-right: auto
    margin-left: auto
    @media (min-width: 992px)
      width: 900px

  &-content
    border-radius: 0px
    border: 2px solid $gray2
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5)
    img
      border: 1px solid $gray
      &.img-responsive
        width: 100%

  &-header
    padding: 30px
    background-color: $vanilla
    border: 0px
    button.close
      position: fixed
      margin: 0px
      right: -30px
      @media (min-width: 768px)
        right: -45px
      border: 0px
      background: transparent

  &-body
    padding: 30px

  &-footer
    padding: 30px
